*{
  padding: 0px;
  margin: 0px;
  font-style: none;
}
.navbar{
  padding: 20px;

}
.navbar button{
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  text-decoration: solid;
}
.wrappercards{
  display: flex;
  flex-direction: wrap;
}
.card{
  padding: 10px;
  border: 2px solid black;
  width: 150px;
  margin: 15px;
  border-radius: 8px;
}
.card button{
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  text-decoration: solid;
}